.hero{
    height: calc(100vh - 100px);
    background: linear-gradient(100deg, #0c0c1d, #111132 );
    position: relative;
    overflow: hidden;

    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;
    }

    .textContainer{
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .imageContainer{
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
} 